:root {
  --color-background: #80D5E8;
  --color-border: #E897B6;
  --color-letters: #596669;
  --color-entry: #7AF5C8;
}

body {
  background-color: var(--color-background);
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1200px;
  margin: 40px auto;
  height: 920px;
  border: 8px solid var(--color-border);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 140px 1fr 100px;
      grid-template-rows: 140px 1fr 100px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__headline {
  font-size: 2.7rem;
  color: var(--color-letters);
  font-weight: 900;
  margin-top: none;
}

.header .newTodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .newTodoValue {
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 600;
  border: 3px solid var(--color-border);
  color: var(--color-letters);
}

.header .newTodoValue:focus, .header .newTodoValue:active {
  outline: none;
}

.btn {
  font-family: inherit;
  font-size: 1.7rem;
  margin-left: 10px;
  font-weight: 600;
  color: var(--color-letters);
  width: 120px;
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  outline: none;
}

.btn:focus {
  outline: none;
}

.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover::after {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  opacity: 0;
}

.btn--entry {
  background-color: var(--color-entry);
  border: 3px solid var(--color-border);
}

.btn--entry::after {
  background-color: var(--color-entry);
  border: 1px solid var(--color-border);
}

.btn--warning {
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: 600;
  width: 300px;
  background-color: var(--color-border);
  border: 3px solid var(--color-entry);
}

.btn--warning:hover {
  border: 3px solid red;
  background-color: red;
}

.main {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: var(--color-letters);
}

.main h2 {
  margin-top: 45px;
  font-size: 1.9rem;
}

.main .items {
  width: 500px;
  background: url(../img/block.png) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
}

.main .items tr {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.main .archives {
  width: 500px;
  background: url(../img/block.png) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.main .delete {
  text-decoration: none;
  color: #fff;
  background-color: var(--color-border);
  padding: 0.1rem 0.3rem;
}

.footer {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.striketrough {
  text-decoration: line-through;
}
/*# sourceMappingURL=main.css.map */