:root {
    --color-background: #80D5E8;
    --color-border: #E897B6;
    --color-letters: #596669;
    --color-entry: #7AF5C8;
}

body {
    background-color: var(--color-background);
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1200px;
    margin: 40px auto;
    height: 920px;
    border: 8px solid var(--color-border);
    display: grid;
    grid-template-rows: 140px 1fr 100px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__headline {
        font-size: 2.7rem;
        color: var(--color-letters);
        font-weight: 900;
        margin-top: none;
    }

    .newTodo {
        display: flex;
        justify-content: center;
     

        &Value {
            font-size: 1.7rem;
            font-family: inherit;
            font-weight: 600;
            border: 3px solid var(--color-border);
            color: var(--color-letters);

            &:focus, &:active {
                outline: none;
            }
        }
    }
}

.btn {
    font-family: inherit;
    font-size: 1.7rem;
    margin-left: 10px;
    font-weight: 600;
    color: var(--color-letters);
    width: 120px;
    position: relative;

    &:hover {
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(1px);
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        transition: all .3s;
    }

    &:hover::after {
        transform: scale(2.5);
        opacity: 0;
    }

    &--entry {
        background-color: var(--color-entry);
        border: 3px solid var(--color-border);

        &::after {
            background-color: var(--color-entry);
            border: 1px solid var(--color-border);
        }
    }

    &--warning {
        font-family: inherit;
        font-size: 1.7rem;
        font-weight: 600;
        width: 300px;
        background-color: var(--color-border);
        border: 3px solid var(--color-entry);

        &:hover {
            border: 3px solid red;
            background-color: red;
    }
    }
}

.main {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    color: var(--color-letters);

    td {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.5;
    }

    .delete {
        text-decoration: none;
        color: #fff;
        background-color: var(--color-border);
        padding: 0.1rem 0.3rem;
    }
}

.footer {
    justify-self: center;
    align-self: center;
}

.itemsList {

}